<!-- ~/automation/fullstack_bookstore/templates/books/book_detail.html -->

{% extends 'books/base.html' %}

{% block title %} Books List {% endblock title %}

{% block content %}
  <div class="container mt-5">
    <h4>Book Details</h4>
    <strong>Title:</strong> {{ book.title }}<br>
    <strong>Author: </strong> {{ book.author.first_name }} {{ book.author.last_name }}<br>
    <strong>Description: </strong> {{ book.description }}<br>
    <strong>Price: </strong> {{ book.price }}<br>
    <br><br>
    <a class="btn btn-danger" href="{% url 'book_delete' book.id %}">DELETE</a>
    <a class="btn btn-warning" href="{% url 'book_update' book.id %}">UPDATE</a>
  </div>
{% endblock %}